@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: calc(1*(0.5vh + 0.5vw));
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 1em;
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 1em;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#506149,#303D2B);
}
.overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.324);
    position: absolute;
    z-index: 4;
    pointer-events: none;
    opacity: 0%;
    transition: 0.5s ease-in-out;
}
.overlay.active{
    display: block;
    opacity: 100%;
    pointer-events: all;
}
.container{
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.loggedInAs{
    padding: 1vh 0;
    display: flex;
}
.row1 h1{
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: calc(3*(0.5vh + 0.5vw));
}
#userType{
    color: greenyellow;
    position: relative;
    left: 0.5em;
}
.buttons{
    display: flex;
    height: 50vh;
    padding: 1vh 0;
    flex-direction: column;
    justify-content: space-around;
}
.buttons button{
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: calc(2*(0.5vh + 0.5vw));
    font-weight: 400;
    padding: 1.5vh 1vw;
    text-align: left;
    background-color: #6F786B;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.buttons button:hover{
    transform: scale(102%);
    transition: 0.1s ease-in-out;
    background-color: #394434;
}
#logOut{
    background-color: #735656;
}
#logOut:hover{
    background-color: #4f2525;
}
.row2,.list{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5em;
    background-color: #525254;
    overflow-y: scroll;
    flex-basis: 60%;
    padding: 5vh 2vw;
}
.list{
    width: 50%;
    height: 80%;
    z-index: 5;
    position: absolute;
    top: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    background-color: #525254;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}
.list.active{
    pointer-events: all;
    top: 50%;
    opacity: 1;
}
.listAll{
    height: 90%;
    justify-content: space-between;
    padding: 0 5vw;
}
.listAll ol{
    padding-bottom: 5vh;
}
.listAll ol li{
    font-family: 'Roboto Mono', monospace;
    font-size: calc(2*(0.5vh + 0.5vw));
    font-weight: 200;
    color: #ffffff;
}
.issue{
    padding: 3vh 2vw;
    font-family: 'Roboto Mono', monospace;
    background-color: white;
    background-image: linear-gradient(135deg,#ffffff,#d8d8d8);
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    transition: 0.1s ease-in-out;
    cursor:default;
}
.issue:hover{
    transition: 0.1s ease-in-out;
    transform: scale(102%);
}
.issue:first-child{
    margin-top: 0vh;
}
.issue>h1{
    font-size: calc(2*(0.5vh + 0.5vw));
    color: #525254;
}
.issue>p{
    font-size: calc(1.5*(0.5vh + 0.5vw));
    color: #525254;
}
.finisher{
    width: 100%;
    position: relative;
    top: 1vh;
    display: flex;
    font-size: calc(1*(0.5vh + 0.5vw));
    justify-content: space-between;
}
.finisher>div{
    display: flex;
    justify-content: space-around;
}
#status{
    color: green;
}

/* For Modal */

.modal{
    position: absolute;
    width: 55%;
    height: 60%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vh 2vw;
    border: rgba(255, 255, 255, 0.19) solid 0.1em;
    border-radius: 0.5em;
    top: 0%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    background-color: #4b5c7669;
    backdrop-filter: blur(2em);
    transition: 0.5s ease-in-out;
    pointer-events: none;
}
.modal.active{
    top:50%;
    opacity: 1;
    pointer-events: all;
}
.closebtn{
    position: relative;
    width: calc(5*(0.5vh + 0.5vw));
    align-self: flex-end;
    filter: invert(100%);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.closebtn:hover{
    transform: scale(105%);
    opacity: 50%;
    transition: 0.2s ease-in-out;
}
.modal input{
    width: 100%;
    height: 12%;
    border:none;
    border-radius: 0.2em;
    font-family: 'Roboto Mono', monospace;
    font-size: calc(1.5*(0.5vh + 0.5vw));
    padding: 0 1vw;
}
.modal textarea{
    width: 100%;
    height: 12%;
    border:none;
    border-radius: 0.2em;
    font-family: 'Roboto Mono', monospace;
    font-size: calc(1.5*(0.5vh + 0.5vw));
    padding: 1vh 1vw;
    resize: none;
}
#issueDescription{
    height: 30%;
}
.modalButton{
    height: 12%;
    border: none;
    border-radius: 0.2em;
    font-family: 'Roboto Mono', monospace;
    font-size: calc(1.5*(0.5vh + 0.5vw));
    cursor: pointer;
    color: #ffffff;
    background-color: #607698;
    transition: 0.2s ease-in-out;
}
.modalButton:hover{
    transition: 0.2s ease-in-out;
    background-color: #4d617f;
}

/* Responsiveness */
@media only screen and (max-width:868px) and (min-width:481px){
    .container{
        flex-direction: column-reverse;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .loggedInAs{
        position: relative;
        top: 1vh;
        justify-content: center;
        text-align: center;
    }
    .buttons button{
        width: 70vw;
        font-size: calc(3*(0.5vh + 0.5vw));
        text-align: center;
    }
    .row2{
        width: 90vw;
    }
    .modal{
        width: 90%;
        height: 70%;
    }
    .modal input{
        font-size: calc(2.5*(0.5vh + 0.5vw));
        padding: 0 2vw;
    }
    .modal textarea{
        font-size: calc(2.5*(0.5vh + 0.5vw));
    }
    #issueDescription{
        height: 35%;
        padding: 2vh 2vw;
    }
    .modalButton{
        font-size: calc(2.5*(0.5vh + 0.5vw));
    }
    .issue>h1{
        font-size: calc(3*(0.5vh + 0.5vw));
    }
    .issue>p{
        font-size: calc(2.5*(0.5vh + 0.5vw));
    }
    .finisher{
        font-size: calc(1.5*(0.5vh + 0.5vw));
    }
    .list{ 
        width: 90%;
    }
    .listAll ol{
        padding: 0 5vw;
    }
    .listAll ol li{
        font-size: calc(3*(0.5vh + 0.5vw));
    }
}

@media only screen and (max-width: 480px){
    .container{
        flex-direction: column-reverse;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .loggedInAs{
        position: relative;
        top: 0.5vh;
        justify-content: center;
        text-align: center;
    }
    .buttons{
        height: 45vh;
    }
    .buttons button{
        width: 90vw;
        font-size: calc(3*(0.5vh + 0.5vw));
        text-align: center;
    }
    .row2{
        width: 90vw;
    }
    .modal{
        width: 90%;
        height: 70%;
    }
    .modal input{
        font-size: calc(2.5*(0.5vh + 0.5vw));
        padding: 0 2vw;
    }
    .modal textarea{
        font-size: calc(2.5*(0.5vh + 0.5vw));
    }
    #issueDescription{
        height: 35%;
        padding: 2vh 2vw;
    }
    .modalButton{
        font-size: calc(2.5*(0.5vh + 0.5vw));
    }
    .issue>h1{
        font-size: calc(3*(0.5vh + 0.5vw));
    }
    .issue>p{
        font-size: calc(2.5*(0.5vh + 0.5vw));
    }
    .finisher{
        font-size: calc(1.2*(0.5vh + 0.5vw));
    }
    .list{ 
        width: 90%;
    }
    .listAll ol{
        padding: 0 5vw;
    }
    .listAll ol li{
        font-size: calc(3*(0.5vh + 0.5vw));
    }
}